page-animals {

    .body{
    background-color: rgb(238, 230, 230)
    }
    .list{
        background-color: rgb(238, 230, 230);
        border-radius: 5px;
        }
    .play{
        border: 2px solid;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        box-shadow: 5px 5px 5px #555;
        background-color: rgb(190, 186, 186)
    }

    .head{
        background-color: rgb(190, 186, 186);
        text-shadow: 0px 0px 2px black;
    }

}
